<h1>投稿一覧</h1>
<% @posts.each do |post| %>
  <p>タイトル</p>
  <span><%=link_to post_path(post.user)%></span>
  <%= link_to user_path(book.user) do %>
            
  <p>画像</p>
    <% if post.image.attached? %>
      <%= image_tag post.image, size: "200x200" %>
    <% else %>
      <%= image_tag 'no_image', size: "200x200" %>
    <% end %>
  <% end %>