<% if current_user != user %>
  <% if user.followers.ids.include?(current_user.id) %>
    <small>
      <%= link_to "フォローを外す", user_relationships_path(user), class: 'btn btn-outline-danger btn-sm', method: :delete, remote: true %>
    </small>
  <% else %>
    <small>
      <%= link_to "フォローする", user_relationships_path(user), class: 'btn btn-outline-success btn-sm', method: :post, remote: true %>
    </small>
  <% end %>
<% end %>

<% if current_user != user && current_user.followings.include?(user) %>
  <div class="mt-2">
    <small>
      <%= link_to "chatを始める", chat_path(user.id), class: 'btn btn-outline-info btn-sm' %>
    </small>
  </div>
<% end %>