<h1 class="text-center py-5"><span class="logo d-block">タウンチャーム</span>歩き方ガイド</h1>

<div class="row py-5">
  <div class="col-md-4 order-0">
    <%= image_tag "undraw_town_oesm.png", class: "img-fluid" %>
  </div>
  <div class="col-md-8 order-1">
    <h3>ポートフォリオへの想い</h3>
    地域の魅力ある街づくりについて、地域に関わる人々がコメントを投稿してアイデアを共有し合える地域限定のコミュニティサイト
  </div>
</div>

<div class="row py-5">
  <div class="col-md-8 order-1 order-md-0">
    <h3>サイトの歩き方</h3>
  </div>
  <div class="col-md-4 order-0 order-md-1">
    <%= image_tag "undraw_town_oesm.png", class: "img-fluid" %>
  </div>
</div>

<div class="row py-5">
  <div class="col-md-4 order-0">
    <%= image_tag "undraw_town_oesm.png", class: "img-fluid" %>
  </div>
  <div class="col-md-8 order-1">使用シーン</div>
</div>

<div class="row py-5">
  <div class="col-md-8 order-1 order-md-0">注意事項</div>
  <div class="col-md-4 order-0 order-md-1">
    <%= image_tag "undraw_town_oesm.png", class: "img-fluid" %>
  </div>
</div>