<div class="row" style="min-height: 500px;">
  <div class="col-md-12 text-center">
    <h1 class="px-3 mx-auto" style="margin-top:220px;">ようこそ<i class="fa-solid fa-city"></i><strong>タウンチャームへ</strong>!</h1>
  </div>
  <div class="col-md-3">
    <%= image_tag "undraw_town_oesm.png", class: "w-100" %>
  </div>
  <div class="col-md-6">文章</div>
</div>