<h1 class="text-center py-5"><span class="logo d-block">タウンチャーム</span>歩き方ガイド</h1>

<div class="row py-5">
  <div class="col-md-4 order-0">
    <%= image_tag "undraw_best-place_dhzp.png", class: "img-fluid about-img" %>
  </div>
  <div class="col-md-8 order-1">
    <h3>サイト概要</h3>
    地域の魅力ある街づくりについて、地域に関わる人々がコメントを投稿してアイデアを共有し合える地域限定のコミュニティサイト
  </div>
</div>

<div class="row py-5">
  <div class="col-md-8 order-1 order-md-0">
    <h3>サイトの利用方法</h3>
    1. アカウント登録
    <div class="my-2 border-bottom">初めてご利用の方は、アカウント登録を行ってください。</br>登録後、プロフィールを充実させることで、他のユーザーとより円滑に交流できます。</div>
    2. トピックの閲覧・投稿
    <div class="my-2">「アイデア募集」「プロジェクト報告」「イベント告知」など、カテゴリごとに分かれたトピックを自由に閲覧・投稿できます。</br>新しい提案がある場合は「新規投稿」ボタンを押して、具体的な内容を投稿してください。</br>他の投稿に対するコメントやフィードバックも大歓迎です！</div>
    3. 街づくりプロジェクトへの参加
    <div class="my-2">現在進行中のプロジェクトや、地域イベントの情報を確認できます。</br>興味があるプロジェクトには「参加する」ボタンを押して、詳細情報を確認してください。</div>
    4. 意見交換とネットワーク作り
    <div class="my-2">チャット機能を活用して、他のユーザーと意見交換を行いましょう。</br>地域の課題解決や新しいアイデアの創出に繋がります。</div>
    5. 定期的なチェック
    <div class="my-2">新しい投稿やプロジェクト情報が随時更新されます。ログインして最新の情報を確認しましょう！</div>
  </div>
  <div class="col-md-4 order-0 order-md-1">
    <%= image_tag "undraw_walk-in-the-city_qd81.png", class: "img-fluid about-img" %>
  </div>
</div>

<div class="row py-5">
  <div class="col-md-4 order-0">
    <%= image_tag "undraw_city-life_l74x.png", class: "img-fluid about-img" %>
  </div>
  <div class="col-md-8 order-1">
    <h3>主な利用シーン</h3>
    <div>・地域の街づくりに必要な情報を検索する時</div>
    <div>・地域の街づくりについて投稿することで自分の意見を発信したい時</div>
    <div>・地域の街づくりについて他の人の投稿内容を知りたい時</div>
  </div>
</div>

<div class="center-block">
  <div class="col-md-8 order-1 order-md-0 offset-2"><h3 class="text-center">注意事項</h3>
    <h6>1.利用規約の遵守</h6>
    <p>本サイトをご利用いただく際は、必ず利用規約をご確認の上、遵守してください。違反が確認された場合は、利用停止やアカウント削除などの対応を行う場合があります。</p>
    2.個人情報の保護
    <p>個人情報やプライバシーに関する内容（住所、電話番号、メールアドレスなど）は、投稿や公開しないようご注意ください。他者の個人情報を許可なく公開する行為も禁止されています。</p>
    3.誹謗中傷の禁止
    <p>他のユーザーを誹謗中傷する発言や、差別的、攻撃的な内容の投稿は厳禁です。コミュニティ内での健全な交流を心がけてください。</p>
    4.著作権の尊重
    <p>第三者の著作物（画像、文章、音楽など）を許可なく転載・使用する行為はお控えください。必要に応じて権利者からの許諾を得てください。</p>
    5.営利目的の利用制限
    <p>本サイトは、個人間の交流を目的としています。許可なく商品やサービスの宣伝・販売を行うことはできません。</p>
    6.適切な投稿内容
    <p>虚偽の情報や、不適切な内容（公序良俗に反するもの、過度に政治的・宗教的な発言など）の投稿はお控えください。</p>
    7.運営からの連絡への対応
    <p>運営からの連絡があった場合、速やかにご確認いただき、必要な対応をお願いいたします。</p>
  </div>
</div>

  <!--<div class="col-md-4 order-0 order-md-1">
    <%#= image_tag "undraw_flagged_c6mx.png", class: "img-fluid" %>
  </div>--!>
