<div class="container">
  <div class="row">
    <div class="mx-auto col-12 col-md-10">
      <div class="text-center mt-3">
        <h1 class="px-3 mx-auto">welcome to<i class="fa-solid fa-city"></i><strong>タウンチャーム</strong> !!</h1>
      </div>
      <% unless user_signed_in? %>
        <div class="btn-wrapper col-12 col-md-6 mx-auto mt-3">
          <div class="row">
             <%= link_to "Log in", new_user_session_path, class:"btn btn-info btn-sm btn-block mb-3 sign_in" %>
          </div>
          <div class="row">
            <%= link_to "Sign up", new_user_registration_path, class:"btn btn-success btn-sm btn-block sign_up" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
         <%= image_tag 'city-5772121_1280.jpg', class: 'swiper-img' %>
      </div>
      <div class="swiper-slide">
         <%= image_tag 'road-7704729_1280.jpg', class: 'swiper-img' %>
      </div>
    </div>
    <!-- ページネーションの要素 -->
    <div class="swiper-pagination"></div>
    <!-- ナビゲーションボタン （前、次） -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>

<!--<br>-->
<!--<%# if current_user %>-->
<!--  <%#= link_to "sign_out", destroy_user_session_path, method: :delete %>-->
<!--<%# else %>-->
<!--  <%#= link_to 'sign_in', new_user_session_path %>-->
<!--<%# end %>-->
<!--<h1>Topページ</h1>-->

