<table class="table">
  <thead>
    <tr>
      <th class="w-25">プロフィール画像</th>
      <th>投稿者</th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td>
          <%= link_to admin_user_path(user) do %>
            <%= image_tag user.get_profile_image(80, 80) %>
          <% end %>
        </td>
        <td><%= link_to user.name, admin_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>