<div class="row">
  <div class="col-md-12">
    <div class="card mt-5">
      <div class="card-body">
        <h2 class="d-flex justify-content-center my-4">グループ一覧</h2>
      <%= render 'admin/groups/groups', groups: @groups %>
    </div>
  </div>
</div>